.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #393958;
    padding-top: 0;
}

.navigation, .rules {
    padding-top: 0;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 15px;   
}

.start-button {
    cursor: pointer;
    width: 55%;
    height: 25%;
    border: 1px solid #393958;
    border-radius: 25px;
    text-align: center;
    user-select: none;
    transition: 0.5s;
}

.start-button:hover {
    background-color: #a8a8db;
}

.start-button:active {
    transform: scale(105%);
}

.level-container div{
    display: flex;
    flex-wrap: wrap;
}

.animal, .kids {
    height: 90px;
    width: 155px;
    border: 5px solid transparent;
}

.kids {
    display: flex;
} 

.right-picture {
    border: 5px solid #53ea93;
    border-radius: 15px;
}

.diff {
    width: 214px;
    height: 300px;
}

.raccon {
    background: content-box no-repeat url("./images/animal1.jpg");
    background-size: cover;
}

h1, h2, h3 {
    text-align: center;
    color: #393958;
}

.level-title {
    display: none;
}

.hidden {
    display: none;
}

.navigation{
    color: #393958;
    font-weight: bold;
    font-size: x-large;
}